[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/pylint"]
	path = bundle/pylint
	url = https://github.com/vim-scripts/pylint.vim.git
[submodule "bundle/ack"]
	path = bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "bundle/ZoomWin"]
	path = bundle/ZoomWin
	url = https://github.com/vim-scripts/ZoomWin.git
[submodule "bundle/ConqueTerm"]
	path = bundle/ConqueTerm
	url = https://github.com/rygwdn/vim-conque.git
[submodule "bundle/SuperTab"]
	path = bundle/SuperTab
	url = https://github.com/ervandew/supertab.git
[submodule "bundle/NERDCommenter"]
	path = bundle/NERDCommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/python.vim"]
	path = bundle/python.vim
	url = https://github.com/vim-scripts/python.vim.git
[submodule "bundle/pyflakes-vim"]
	path = bundle/pyflakes-vim
	url = https://github.com/kevinw/pyflakes-vim.git
[submodule "bundle/bufexplorer"]
	path = bundle/bufexplorer
	url = https://github.com/vim-scripts/bufexplorer.zip.git
