[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/pylint"]
	path = bundle/pylint
	url = https://github.com/vim-scripts/pylint.vim.git
[submodule "bundle/ack"]
	path = bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "bundle/ZoomWin"]
	path = bundle/ZoomWin
	url = https://github.com/vim-scripts/ZoomWin.git
[submodule "bundle/ConqueTerm"]
	path = bundle/ConqueTerm
	url = https://github.com/rygwdn/vim-conque.git
